* {
	margin:0;
	padding:0;
}

body {
	overflow: auto;
	background-color:skyBlue;
	width:100%;
	height:100%;
}

#top{
	z-index: 1;
	width:100%;
	height:15vh;
	background-color: white;
}

#bottom{
	position: absolute;
	top:85%;
	left:0;
	width:100%;
	height: 15%;
	background-color: lightGreen;
}

#left{
	position: absolute;
	top:15%;
	left:0;
	width:19%;
	height: 70%;
}

#right{
	position: absolute;
	top:15%;
	left:80%;
	width:19%;
	height: 70%;
}

#center{
	position: absolute;
	top:15%;
	left:20%;
	width:60%;
	height: 70%;
	border-right: 2px black solid;
	border-left: 2px black solid;
}

.sticky {
	position:fixed;
	top:0;
}
